* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1f0235;
}
#container {
  height: 400px;
  width: 350px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#container i {
  font-size: 75px;
  color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: all ease 0.4s;
}
#container2 {
  height: 35px;
  width: 350px;
}
#container2 i {
  font-size: 50px;
  color: black;
  left: 0%;
}
.data {
  border-top: 25px;
  color: rgba(86, 5, 101, 0.738);
  text-align: center;
  font-size: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* background-color: blue;*/
}
